<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
    <!-- <script language="JavaScript" type="text/javascript" src="/static/js/lista_cnae.js"></script> -->
    <script language="JavaScript" type="text/javascript" src="/static/js/mask.js"></script>
    <title>Solid Consulting - Cadastro de Empresa</title>
</head>
<body>
    <img src="{{ url_for('static', filename='images/solid_icon.png') }}" alt="Solid Consulting" width=90 height=40>
    <h1>Cadastro de Empresa</h1>
    <hr>
    <form method="POST" action="{{ url_for('cadastro') }}">
        <h3>Dados da empresa</h3>
        <table>
            <tr>
                <td>Razão Social</td>
                <td><input type="text" name="razaosocial" placeholder="Digite a razão social"/></td>
            </tr>
            <tr>
                <td>Inscrição Estadual</td>
                <td><input type="text" name="inscricaoestadual" placeholder="Somente números"/></td>
            </tr>
            <tr>
                <td>CNPJ</td>
                <td><input type="text" name="cnpj" placeholder="Somente números"/></td>
            </tr>
            <tr>
                <td>Caixa Postal</td>
                <td><input type="text" name="caixapostal" placeholder="Digite a caixa postal (se houver)"/></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" placeholder="Digite o email da empresa"/></td>
            </tr>
            <tr>
                <td>CNAE</td>
                <!-- <td width="80%"><select id="cnae"></select></td> -->
                <td>
                    <select name="cnae">
                        <option>-- Selecione uma opção --</option>
                        {% for c in cnae %}
                        <option value="{{ c.idcnae }}">{{ c.codigo }} - {{ c.descricao }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Telefone</td>
                <td><input type="text" id="telefone" name="telefone" placeholder="(XX) XXXX-XXXX"/></td>
            </tr>
        </table>
        <hr>
        <h3>Endereço da empresa</h3>
        <table>
            <tr>
                <td>CEP</td>
                <td><input type="text" id="cep" name="cep"/></td>
                <!-- <td><div id="erro"></div></td> -->
            </tr>
            <tr>
                <td>Logradouro</td>
                <td><input id="logradouro" type="text" name="logradouro"/></td>
            </tr>
            <tr>
                <td>Complemento</td>
                <td><input id="complemento" type="text" name="complemento"/></td>
            </tr>
            <tr>
                <td>Bairro</td>
                <td><input id="bairro" type="text" name="bairro"/></td>
            </tr>
            <tr>
                <td>Estado</td>
                <td><input id="uf" type="text" name="estado"/></td>
                <!-- <td><select id="estado4" name="estado"></select></td> -->
            </tr>
            <tr>
                <td>Cidade</td>
                <td><input id="cidade" type="text" name="cidade"/></td>
                <!-- <td><select id="cidade4" name="cidade"></select></td> -->
            </tr>
            <!-- O Script abaixo serve para quando se escolhe um estado,
                automaticamente aparece TODAS as cidades pertencentes ao estado  -->
            <!-- <script language="JavaScript" type="text/javascript" charset="utf-8">
                new dgCidadesEstados({
                  cidade: document.getElementById('cidade4'),
                  estado: document.getElementById('estado4')
                })
            </script> -->
            <script language="JavaScript" type="text/javascript" src="/static/js/preenche_endereco.js"></script>
        </table>
        <hr>
        <input type="submit" value="Cadastrar" /> &emsp; 
        <button type="submit" ><a href="{{ url_for('index') }}">Voltar</a></button> &emsp;
    </form>
</body>
</html>